In [13]:
#always going to import these libraries, regardless of whether they get used in each noteboo for continuty
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [14]:
#importing the csv and making sure it can be read 
attack = pd.read_csv('data/attacks.csv', encoding= 'unicode_escape')
attack.columns = attack.columns.str.rstrip()
pd.set_option("display.max_rows", None)

In [15]:
#identifying columns that are not super relevant to my hypotheses
unwanted_data = ['pdf','href','href formula', 'original order','Case Number.1','Case Number.2', 'Unnamed: 22', 'Unnamed: 23', 'Year', 'Type', 'Date', 'Investigator or Source', 'Injury', 'Name']

#removing irrelevant columns
attack = attack.drop(columns = unwanted_data)

#removing rows with incomplete data
attack = attack.dropna()

In [16]:
#looking at the values for shark to remove any outliers/ incorrect formatting
shark_counts = attack["Species"].value_counts()

#keeping only the shark values I want
valid_species = ['White shark', 'Tiger shark', 'Bull shark']
attack = attack[attack['Species'].isin(valid_species)]

In [17]:
#setting the index as the case number
attack.set_index('Case Number', inplace=True)

#establishing the unique values for case numbers to check for formatting errors or irrelvant data
case_values = attack.index.value_counts()

#removing incorrectly formatted dates
attack = attack.loc[~attack.index.str.startswith('ND')]

In [18]:
#establishing all the unique time values to clean up this column
time_values = attack['Time'].value_counts()

#reformatting timing to 00h00 format
attack['Time'] = attack['Time'].replace({'Afternoon':'12h00', 'Morning':'09h00', 'Early afternoon':'14h00', '08h00 / 09h30 ': '08h30', '>06h45': '06h45', 'Shortly before 12h00': '12h00', 'Late afternoon': '16h00', '"Just before 11h00"':'11h00', 'Early morning ': '07h00'})

#replacing h with : to create h:m format
attack['Time'] = attack['Time'].str.replace('h', ':')

In [19]:
#looking at countries to filter geographically
country_values = attack['Country'].value_counts()

#assigning a hemisphere value to each location
northern_countries = ['USA', 'CROATIA', 'CUBA', 'MEXICO', 'IRAQ', 'BAHAMAS', 'MALDIVES', 'COSTA RICA', 'ITALY']
attack['Hemisphere'] = 'Southern'
attack.loc[attack['Country'].isin(northern_countries), 'Hemisphere'] = 'Northern'

#creating a new dataframe to look at shark attacks by hemisphere
hem_attack = attack[['Country', 'Hemisphere', 'Fatal (Y/N)']]

In [25]:
year_attack

              year Fatal (Y/N)                         Country
Case Number
2018.06.25    2018           N                             USA
2018.06.03.a  2018           Y                          BRAZIL
2018.04.28.b  2018           N                      COSTA RICA
2018.04.23    2018           N                        MALDIVES
2018.04.03    2018           N                    SOUTH AFRICA
2017.12.31    2017           N                             USA
2017.11.04    2017           Y                            CUBA
2017.06.02    2017           N                         BAHAMAS
2017.04.17.a  2017           Y                       AUSTRALIA
2016.12.01    2016           N                       AUSTRALIA
2016.11.14    2016           N                             USA
2016.05.31    2016           Y                       AUSTRALIA
2015.07.31    2015           N                       AUSTRALIA
2015.07.03    2015           N                       AUSTRALIA
2015.07.02    2015           N                       AUSTRALIA
2015.06.27.b  2015           N                             USA
2015.06.27.a  2015           N                    SOUTH AFRICA
2015.06.24.a  2015           N                       AUSTRALIA
2015.06.14.b  2015           N                             USA
2015.06.14.a  2015           N                             USA
2015.04.12    2015           Y                         REUNION
2015.04.03    2015           N                             USA
2014.12.15    2014           Y                       AUSTRALIA
2014.09.06    2014           N                             USA
2014.08.01    2014           N                    SOUTH AFRICA
2014.06.01.c  2014           N                             USA
2013.10.31    2013           N                             USA
2013.10.20    2013           N                             USA
2013.10.11    2013           Y                    SOUTH AFRICA
2013.10.08    2013           N                       AUSTRALIA
2013.09.14    2013           N                             USA
2013.05.08.a  2013           Y                         REUNION
2013.04.24    2013           N                          MEXICO
2013.04.13.b  2013           N                             USA
2012.10.30    2012           N                             USA
2012.05.12    2012           N                             USA
2012.05.06    2012           N                             USA
2011.09.28.a  2011           N                    SOUTH AFRICA
2011.09.04.a  2011           Y                       AUSTRALIA
2010.10.30    2010           N                       AUSTRALIA
2010.09.27    2010           N                             USA
2010.08.17    2010           Y                       AUSTRALIA
2010.01.12    2010           Y                    SOUTH AFRICA
2009.08.29    2009           Y                    SOUTH AFRICA
2009.01.25    2009           N                            CUBA
2009.01.24.a  2009           Y                    SOUTH AFRICA
2008.09.09    2008           N                             USA
2008.06.01.a  2008           N                          BRAZIL
2008.04.28.b  2008           Y                          MEXICO
2008.04.08    2008           Y                       AUSTRALIA
2008.03.07    2008           N                             USA
2007.12.10    2007           N                             USA
2007.10.29    2007           N                             USA
2007.09.30.a  2007           Y                   NEW CALEDONIA
2007.04.09    2007           N                   NEW CALEDONIA
2007.01.25.b  2007           N                   NEW CALEDONIA
2007.01.14    2007           Y                    SOUTH AFRICA
2006.08.13    2006           N                    SOUTH AFRICA
2006.04.09.a  2006           N                          BRAZIL
2006.02.01.b  2006           Y                           TONGA
2006.01.07    2006           Y                       AUSTRALIA
2005.12.24    2005           N                             USA
2005.12.21    2005           N                             USA
2005.10.21    2005           N                             USA
2005.10.01    2005           N                    SOUTH AFRICA
2005.09.05    2005           N                             USA
2005.08.24.b  2005           Y                       AUSTRALIA
2005.06.27    2005           N                             USA
2005.06.04    2005           Y                    SOUTH AFRICA
2005.01.08    2005           N                     NEW ZEALAND
2004.12.11    2004           Y                       AUSTRALIA
2004.09.20    2004           N                             USA
2004.07.25    2004           N                             USA
2004.06.02    2004           Y                    SOUTH AFRICA
2004.05.23.b  2004           N                          BRAZIL
2004.04.07    2004           Y                             USA
2003.09.12    2003           Y                    SOUTH AFRICA
2003.04.23.b  2003           N                          BRAZIL
2002.12.16    2002           Y                       AUSTRALIA
2002.09.13    2002           N                    SOUTH AFRICA
2002.03.25.b  2002           N                             USA
2000.09.25    2000           Y                       AUSTRALIA
2000.06.09.a  2000           N                             USA
1999.09.18    1999           N                             USA
1999.07.15    1999           Y                    SOUTH AFRICA
1998.11.21    1998           Y                             USA
1998.06.22    1998           Y                    SOUTH AFRICA
1997.12.28.b  1997           Y                    SOUTH AFRICA
1997.11.09    1997           N                       AUSTRALIA
1996.09.06.b  1996           N                     NEW ZEALAND
1996.09.01.a  1996           N                    SOUTH AFRICA
1996.03.05    1996           N                       AUSTRALIA
1995.09.11    1995           Y                       AUSTRALIA
1993.08.15.a  1993           N                             USA
1993.03.12    1993           N                             USA
1992.03.28    1992           N                             USA
1990.09.08    1990           N                             USA
1989.11.18    1989           Y                    SOUTH AFRICA
1988.06.19    1988           N                    SOUTH AFRICA
1987.10.11    1987           N                    SOUTH AFRICA
1983.01.08    1983           N                    SOUTH AFRICA
1982.09.25    1982           N                             USA
1980.04.00    1980           N                          MEXICO
1977.08.31    1977           N                       AUSTRALIA
1975.12.06    1975           N                             USA
1975.08.09    1975           N                             USA
1975.07.30.a  1975           Y                       AUSTRALIA
1973.09.09    1973           Y                          MEXICO
1971.09.07    1971           Y                         CROATIA
1968.12.25    1968           N                     NEW ZEALAND
1967.08.19    1967           Y                       AUSTRALIA
1964.05.08    1964           Y                            FIJI
1963.12.08    1963           N                       AUSTRALIA
1963.11.30.a  1963           N                PAPUA NEW GUINEA
1963.07.28    1963           N  FEDERATED STATES OF MICRONESIA
1962.09.02    1962           Y                           ITALY
1962.01.11.b  1962           N                PAPUA NEW GUINEA
1961.09.24.b  1961           Y                         CROATIA
1961.08.16    1961           N                             USA
1961.05.21    1961           N                             USA
1961.01.22    1961           N                    SOUTH AFRICA
1960.01.16    1960           Y                       AUSTRALIA
1958.12.12    1958           Y                  AMERICAN SAMOA
1957.07.15    1957           Y                             USA
1957.04.28    1957           Y                             USA
1950.10.08    1950           N                             USA
1945.00.00.a  1945           N                            IRAQ
1942.12.26    1942           Y                       AUSTRALIA
1938.05.15    1938           N                            IRAQ
1937.10.27.b  1937           Y                       AUSTRALIA
1937.02.13    1937           Y                       AUSTRALIA
1936.02.04    1936           Y                       AUSTRALIA
1936.01.22    1936           Y                       AUSTRALIA
1922.02.04    1922           Y                       AUSTRALIA
1901.07.30    1901           Y                    SOUTH AFRICA
1880.11.25    1880           Y                       AUSTRALIA

In [20]:
#extracting the year to a new column
attack['year'] = attack.index.str[:4].astype(int)

#creating a new dataframe to look at shark attacks by year
year_attack = attack[['year', 'Fatal (Y/N)', 'Country']]

In [21]:
#making a new dataframe to look at shark attacks in the us
us_attacks = attack[attack['Country'] == 'USA'][['Area', 'Fatal (Y/N)']]

#looking at unique values of US area column
us_attacks['Area'].unique()

#splitting the shark attacks into west/east coast
west_coast = ['California', 'Oregon', 'Hawaii']
us_attacks['West/East'] = 'East'
us_attacks.loc[us_attacks['Area'].isin(west_coast), 'West/East'] = 'West'

In [22]:
# export new csv to data folder
attack.to_csv("data/attack_clean.csv", index=True)
year_attack.to_csv("data/attack_by_year.csv", index=True)
us_attacks.to_csv("data/us_attacks.csv", index=True)
hem_attack.to_csv("data/attack_by_hemisphere.csv", index=True)